<div id="OperationDetail" ng-controller="app.views.operations.detail as vm">
    <route-loading-indicator></route-loading-indicator>


    <div class="hpanel">
        <div class="panel-heading">
            <div class="panel-tools">
                <a class="showhide" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-up"></i></a>
                <a class="closebox"><i class="fa fa-times"></i></a>
            </div>
            Operations
        </div>

        <div uib-collapse="isCollapsed" class="panel-body">
            <div class="event-actions">
                <a class="btn btn-primary btn-sm btn-blue" ng-click="vm.backToEventsPage()"><i class="fa fa-arrow-circle-left"></i> back to operation pool</a>

            </div>
            <hr />



            <h3 class="block">{{vm.operation.operationCode}} Details</h3>


            <div class="panel-body">

                <div class="row margin">
                    <div class="col-md-6 col-sm-12">
                        <label class="control-label">Operation Name </label>
                        <div class="controls">
                            <div class="">{{vm.operation.operationName }}</div>
                            <span class="help-inline"></span>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <label class="control-label">Machine Type</label>
                        <div class="controls">
                            <div class="">{{vm.operation.machineType}} </div>
                            <span class="help-inline"></span>

                        </div>
                    </div>
                </div>



                <div class="row margin">
                    <div class="col-md-6 col-sm-12">
                        <label class="control-label">SMV</label>
                        <div class="controls">
                            <div class="">{{vm.operation.smv}}</div>
                            <span class="help-inline"></span>

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 margin">
                        <label class="control-label">SMV Type </label>
                        <div class="controls">
                            <div class="">{{vm.operation.smvType }}</div>
                            <span class="help-inline"></span>

                        </div>
                    </div>

                </div>

                <div class="row margin">

                    <div class="col-md-6 col-sm-12">
                        <label class="control-label">Remark</label>
                        <div class="controls">
                            <div type="text" class="">{{vm.operation.remark}} </div>
                            <span class="help-inline"></span>

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 margin">
                        <label class="control-label">Part Name </label>
                        <div class="controls">
                            <div class="">{{vm.operation.partName }}</div>
                            <span class="help-inline"></span>

                        </div>
                    </div>

                </div>
                <div class="row margin">

                    <div class="col-md-6 col-sm-12 margin">
                        <label class="control-label">Operation Role </label>
                        <div class="controls">
                            <div> {{vm.operation.operationRole}}</div>

                            <span class="help-inline"></span>

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 margin">
                        <label class="control-label">Operation Grade </label>
                        <div class="controls">
                            <div class="">{{vm.operation.operationGrade}}</div>
                            <span class="help-inline"></span>

                        </div>
                    </div>
                </div>

                <div class="row margin">

                    <div class="col-md-6 col-sm-12 margin">
                        <label class="control-label">Machine Speed  </label>
                        <div class="controls">
                            <div> {{vm.operation.machineSpeed}}</div>

                            <span class="help-inline"></span>

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 margin">
                        <label class="control-label">Seam Length </label>
                        <div class="controls">
                            <div> {{vm.operation.seamLength}}</div>

                            <span class="help-inline"></span>

                        </div>
                    </div>

                </div>


                <div class="row margin">

                    <div class="col-md-6 col-sm-12 margin">
                        <label class="control-label">Seam Allowance</label>
                        <div class="controls">
                            <div class="">{{vm.operation.seamAllowance}}</div>
                            <span class="help-inline"></span>

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 margin">
                        <label class="control-label">SPI</label>
                        <div class="controls">
                            <div> {{vm.operation.spi}}</div>

                            <span class="help-inline"></span>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <br />
        <br />

        <div class="row">
            <div class="col-lg-12">

                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        Specification Of Operation
                    </div>




                    <div uib-collapse="isCollapsed" class="panel-body">
                        <div>

                            <uib-tabset active="active">
                                <uib-tab index="0" >
                                    <uib-tab-heading>
                                        <i class="glyphicon glyphicon-bell"></i> Folder Details 
                                    </uib-tab-heading> 
                                    <br>
                                    <br>
                                    <br>
                                    <div class="hpanel">
                                        <div class="panel-heading">
                                            <div class="panel-tools">
                                                <a class="showhide" ng-click="isCollapsed2 = !isCollapsed2"><i class="fa fa-chevron-up"></i></a>
                                                <a class="closebox"><i class="fa fa-times"></i></a>
                                            </div>
                                            Folder Details
                                        </div>

                                        <div uib-collapse="isCollapsed2" class="panel-body">

                                            <div class="row margin-adjust">

                                                <button ng-click="vm.folderTypeCreationModal()" class="btn btn-primary pull-right btn-green "><i class="fa fa-plus"></i> @L("CreateFolderType")</button>
                                            </div>
                                            <div class="row margin-adjust">
                                                <form class="">
                                                    <div class="input-group">
                                                        <input type="text" ng-model="search" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                                            <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>

                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th># </th>
                                                        <th>@L("FolderType") </th>
                                                        <th>@L("Remark")</th>
                                                        <th>@L("Action")</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-animate="'animate'" dir-paginate="operation in vm.operation.folderDetails|orderBy:sortKey:reverse|filter:search|itemsPerPage:7">
                                                        <td><input type="checkbox" checked class="i-checks" name="input[]"></td>
                                                        <td>{{operation.folderType }}</td>
                                                        <td>{{operation.remark }}</td>


                                                        <td>
                                                            <!--  <a ng-href="#/operations/{{operation.id}}"><i class="fa fa-search text-green"></i></a> -->
                                                            <a ng-href="#/operations/item/updatefolder/{{operation.id}}"><i class="fa fa-edit text-green small-icons"></i></a>
                                                            <a ng-click="vm.deleteFolderType(operation)"><i class="fa fa-close text-red small-icons"></i></a>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                                <dir-pagination-controls max-size="5"
                                                                         direction-links="true"
                                                                         boundary-links="true">
                                                </dir-pagination-controls>
                                            </table>


                                        </div>
                                    </div>
                                
                                </uib-tab>
                               
                                <uib-tab index="3" select="">
                                    <uib-tab-heading>
                                        <i class="glyphicon glyphicon-bell"></i> Foot Details
                                    </uib-tab-heading>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="hpanel">
                                        <div class="panel-heading">
                                            <div class="panel-tools">
                                                <a class="showhide" ng-click="isCollapsed3 = !isCollapsed3"><i class="fa fa-chevron-up"></i></a>
                                                <a class="closebox"><i class="fa fa-times"></i></a>
                                            </div>
                                            Foot Details
                                        </div>

                                        <div uib-collapse="isCollapsed3" class="panel-body">

                                            <div class="row margin-adjust">

                                                <button ng-click="vm.footTypeCreationModal()" class="btn btn-primary pull-right btn-green "><i class="fa fa-plus"></i> @L("CreateFootType")</button>
                                            </div>
                                            <div class="row margin-adjust">
                                                <form class="">
                                                    <div class="input-group">
                                                        <input type="text" ng-model="search" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                                            <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>

                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th># </th>
                                                        <th>@L("FootType") </th>
                                                        <th>@L("Remark")</th>
                                                        <th>@L("Action")</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-animate="'animate'" dir-paginate="operation in vm.operation.footDetails|orderBy:sortKey:reverse|filter:search|itemsPerPage:7">
                                                        <td><input type="checkbox" checked class="i-checks" name="input[]"></td>
                                                        <td>{{operation.footType }}</td>
                                                        <td>{{operation.remark }}</td>


                                                        <td>
                                                            <!--  <a ng-href="#/operations/{{operation.id}}"><i class="fa fa-search text-green"></i></a> -->
                                                            <a ng-href="#/operations/item/updatefoot/{{operation.id}}"><i class="fa fa-edit text-green small-icons"></i></a>
                                                            <a ng-click="vm.deleteFootType(operation)"><i class="fa fa-close text-red small-icons"></i></a>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                                <dir-pagination-controls max-size="5"
                                                                         direction-links="true"
                                                                         boundary-links="true">
                                                </dir-pagination-controls>
                                            </table>

                                        </div>
                                    </div>
                                </uib-tab>



                                <uib-tab index="3" select="">
                                    <uib-tab-heading>
                                        <i class="fa fa-life-ring"></i> Thread Details
                                    </uib-tab-heading>

                                    <br>
                                    <br>
                                    <br>
                                    <div class="hpanel">
                                        <div class="panel-heading">
                                            <div class="panel-tools">
                                                <a class="showhide" ng-click="isCollapsed4 = !isCollapsed4"><i class="fa fa-chevron-up"></i></a>
                                                <a class="closebox"><i class="fa fa-times"></i></a>
                                            </div>
                                            Thread Details
                                        </div>

                                        <div uib-collapse="isCollapsed4" class="panel-body">

                                            <div class="row margin-adjust">

                                                <button ng-click="vm.threadTypeCreationModal()" class="btn btn-primary pull-right btn-green "><i class="fa fa-plus"></i> @L("CreateThreadType")</button>
                                            </div>
                                            <div class="row margin-adjust">
                                                <form class="">
                                                    <div class="input-group">
                                                        <input type="text" ng-model="search" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                                            <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>

                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th># </th>
                                                        <th>@L("ThreadType") </th>
                                                        <th>@L("Remark")</th>
                                                        <th>@L("Action")</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-animate="'animate'" dir-paginate="operation in vm.operation.threadDetails|orderBy:sortKey:reverse|filter:search|itemsPerPage:7">
                                                        <td><input type="checkbox" checked class="i-checks" name="input[]"></td>
                                                        <td>{{operation.threadType }}</td>
                                                        <td>{{operation.remark }}</td>


                                                        <td>
                                                            <!--  <a ng-href="#/operations/{{operation.id}}"><i class="fa fa-search text-green"></i></a> -->
                                                            <a ng-href="#/operations/item/updatethread/{{operation.id}}"><i class="fa fa-edit text-green small-icons"></i></a>
                                                            <a ng-click="vm.deleteThreadType(operation)"><i class="fa fa-close text-red small-icons"></i></a>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                                <dir-pagination-controls max-size="5"
                                                                         direction-links="true"
                                                                         boundary-links="true">
                                                </dir-pagination-controls>
                                            </table>
                                        </div>
                                    </div>
                                </uib-tab>



                                <uib-tab index="3" select="alertMe()">
                                    <uib-tab-heading>
                                        <i class="glyphicon glyphicon-pushpin"></i> Needle Details
                                    </uib-tab-heading>
                                    <br>
                                    <br>
                                    <br>

                                    <div class="hpanel">
                                        <div class="panel-heading">
                                            <div class="panel-tools">
                                                <a class="showhide" ng-click="isCollapsed5 = !isCollapsed5"><i class="fa fa-chevron-up"></i></a>
                                                <a class="closebox"><i class="fa fa-times"></i></a>
                                            </div>
                                            Needle Details
                                        </div>

                                        <div uib-collapse="isCollapsed5" class="panel-body">
                                            <div class="row margin-adjust">

                                                <button ng-click="vm.needleTypeCreationModal()" class="btn btn-primary pull-right btn-green "><i class="fa fa-plus"></i> @L("CreateNeedleType")</button>
                                            </div>
                                            <div class="row margin-adjust">
                                                <form class="">
                                                    <div class="input-group">
                                                        <input type="text" ng-model="search" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                                            <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>

                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th># </th>
                                                        <th>@L("NeedleType") </th>
                                                        <th>@L("Remark")</th>
                                                        <th>@L("Action")</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-animate="'animate'" dir-paginate="operation in vm.operation.needleDetails|orderBy:sortKey:reverse|filter:search|itemsPerPage:7">
                                                        <td><input type="checkbox" checked class="i-checks" name="input[]"></td>
                                                        <td>{{operation.needleType }}</td>
                                                        <td>{{operation.remark }}</td>


                                                        <td>
                                                            <!--  <a ng-href="#/operations/{{operation.id}}"><i class="fa fa-search text-green"></i></a> -->
                                                            <a ng-href="#/operations/item/updateneedle/{{operation.id}}"><i class="fa fa-edit text-green small-icons"></i></a>
                                                            <a ng-click="vm.deleteNeedleType(operation)"><i class="fa fa-close text-red small-icons"></i></a>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                                <dir-pagination-controls max-size="5"
                                                                         direction-links="true"
                                                                         boundary-links="true">
                                                </dir-pagination-controls>
                                            </table>
                                        </div>
                                    </div>
                                </uib-tab>



                                <uib-tab index="3" select="alertMe()">
                                    <uib-tab-heading>
                                        <i class="fa fa-cogs"></i> Attachments
                                    </uib-tab-heading>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="hpanel">
                                        <div class="panel-heading">
                                            <div class="panel-tools">
                                                <a class="showhide" ng-click="isCollapsed6 = !isCollapsed6"><i class="fa fa-chevron-up"></i></a>
                                                <a class="closebox"><i class="fa fa-times"></i></a>
                                            </div>
                                            Attatchment Details
                                        </div>

                                        <div uib-collapse="isCollapsed6" class="panel-body">

                                            <div class="row margin-adjust">

                                                <button ng-click="vm.attatchmentTypeCreationModal()" class="btn btn-primary pull-right btn-green "><i class="fa fa-plus"></i> @L("CreateAttatchmentType")</button>
                                            </div>
                                            <div class="row margin-adjust">
                                                <form class="">
                                                    <div class="input-group">
                                                        <input type="text" ng-model="search" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                                            <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>

                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th># </th>
                                                        <th>@L("AttatchmentType") </th>
                                                        <th>@L("Remark")</th>
                                                        <th>@L("Action")</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-animate="'animate'" dir-paginate="operation in vm.operation.attatchmentDetails|orderBy:sortKey:reverse|filter:search|itemsPerPage:7">
                                                        <td><input type="checkbox" checked class="i-checks" name="input[]"></td>
                                                        <td>{{operation.attatchmentType }}</td>
                                                        <td>{{operation.remark }}</td>


                                                        <td>
                                                            <!--  <a ng-href="#/operations/{{operation.id}}"><i class="fa fa-search text-green"></i></a> -->
                                                            <a ng-href="#/operations/item/updateattatchment/{{operation.id}}"><i class="fa fa-edit text-green small-icons"></i></a>
                                                            <a ng-click="vm.deleteAttatchmentType(operation)"><i class="fa fa-close text-red small-icons"></i></a>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                                <dir-pagination-controls max-size="5"
                                                                         direction-links="true"
                                                                         boundary-links="true">
                                                </dir-pagination-controls>
                                            </table>
                                        </div>
                                    </div>
                                </uib-tab>



                                <uib-tab index="3" select="alertMe()">
                                    <uib-tab-heading>
                                        <i class="fa fa-file-picture-o"></i> Work Cycle Image
                                    </uib-tab-heading>

                                    <br>
                                    <br>
                                    <br>
                                    <div class="hpanel">
                                        <div class="panel-heading">
                                            <div class="panel-tools">
                                                <a class="showhide" ng-click="isCollapsed6 = !isCollapsed6"><i class="fa fa-chevron-up"></i></a>
                                                <a class="closebox"><i class="fa fa-times"></i></a>
                                            </div>
                                            Work Cycle Image Details
                                        </div>

                                        <div uib-collapse="isCollapsed6" class="panel-body">

                                            <div class="row margin-adjust">

                                                <button ng-click="vm.workCycleImageCreationModal()" class="btn btn-primary pull-right btn-green "><i class="fa fa-plus"></i> @L("CreateWorkCycleImage")</button>
                                            </div>
                                       
                                            <ul class="gallery gallery1">
                                                <li ng-repeat="image in images">
                                                    <div class="col-md-4 col-sm-12 margin">
                                                        <button class="close" aria-hidden="true" ng-click="vm.deleteWorkCycleImage(image)">×</button>
                                                        <a ng-click="openLightboxModal($index)">
                                                            <img ng-src="{{image.thumbUrl}}" class="img-thumbnail" >
                                                        </a>
                                                     </div>
                                                </li>
                                            </ul>
                                                                            
                                        </div>
                                    </div>
                                </uib-tab>

                                <uib-tab index="3" select="alertMe()">
                                    <uib-tab-heading>
                                        <i class="fa fa-file-video-o"></i> Work Cycle Video
                                    </uib-tab-heading>

                                    <br>
                                    <br>
                                    <br>
                                    <div class="hpanel">
                                        <div class="panel-heading">
                                            <div class="panel-tools">
                                                <a class="showhide" ng-click="isCollapsed6 = !isCollapsed6"><i class="fa fa-chevron-up"></i></a>
                                                <a class="closebox"><i class="fa fa-times"></i></a>
                                            </div>
                                            Work Cycle Video Details
                                        </div>

                                        <div uib-collapse="isCollapsed6" class="panel-body">

                                            <div class="row margin-adjust">

                                                <button ng-click="vm.workCycleVideoCreationModal()" class="btn btn-primary pull-right btn-green "><i class="fa fa-plus"></i> @L("CreateWorkCycleVideo")</button>
                                            </div>
                                            <div class="row margin-adjust">
                                                <form class="">
                                                    <div class="input-group">
                                                        <input type="text" ng-model="search" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                                            <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>

                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th># </th>
                                                        <th>@L("Work Cycle Video Path") </th>
                                                        <th>@L("Remark")</th>
                                                        <th>@L("Action")</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-animate="'animate'" dir-paginate="operation in vm.operation.workCycleVideos|orderBy:sortKey:reverse|filter:search|itemsPerPage:7">
                                                        <td><input type="checkbox" checked class="i-checks" name="input[]"></td>
                                                        <td>{{operation.workCycleVideoPath }}</td>
                                                        <td>{{operation.remark }}</td>


                                                        <td>
                                                            <!--  <a ng-href="#/operations/{{operation.id}}"><i class="fa fa-search text-green"></i></a> 
                                                            <a ng-href="#/operations/item/updateWorkCycleVideo/{{operation.id}}"><i class="fa fa-edit text-green small-icons"></i></a>-->
                                                            <a ng-click="vm.deleteWorkCycleVideo(operation)"><i class="fa fa-close text-red small-icons"></i></a>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                                <dir-pagination-controls max-size="5"
                                                                         direction-links="true"
                                                                         boundary-links="true">
                                                </dir-pagination-controls>
                                            </table>
                                        </div>
                                    </div>
                                </uib-tab>



                            </uib-tabset>






                        </div>

                    </div>

                </div>

            </div>
        </div>




       
        <br />






        <br />
        <br />





        <br />
        <br />



    


            </div>
        </div>
