<div ng-controller="app.views.departments.index as vm">
    <route-loading-indicator></route-loading-indicator>


    <div class="row">
        <div class="col-lg-12">


            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Departments
                </div>
                <div uib-collapse="isCollapsed" class="panel-body">
                    <div class="row margin-adjust">
                        <div class="input-group pull-right">
                            <button ng-click="vm.departmentCreationModal()" class="btn btn-primary pull-right btn-green "><i class="fa fa-plus"></i> @L("CreateNewDepartment")</button>

                        </div>
                    </div>
                    <div class="row margin-adjust">
                        <form class="">
                            <div class="input-group">
                                <input type="text" ng-model="search" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <table id="example2" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>

                                <th> </th>
                                

                                <th>@L("Name") </th>
                                <th>@L("Barcode No") </th>
                                <th>@L("Length")</th>
                                <th>@L("Width")</th>
                                <th>@L("Remark")</th>
                                <th>@L("Action")</th>


                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-animate="'animate'" dir-paginate="department in vm.departments|orderBy:sortKey:reverse|filter:search|itemsPerPage:7">

                                <td><input type="checkbox" checked class="i-checks" name="input[]"></td>

                                <td>{{department.name}}</td>
                                <td>{{department.barcodeNo}}</td>
                                <td>{{department.length}}</td>
                                <td>{{department.width}}</td>
                                <td>{{department.remark}}</td>




                                <td>
                                    <a ng-href="#/departments/{{department.id}}"><i class="fa fa-search text-blue small-icons"></i></a>
                                    <a ng-href="#/departments/update/{{department.id}}"><i class="fa fa-edit text-green small-icons"></i></a>
                                    <a ng-click="vm.delete(department)"><i class="fa fa-close text-red small-icons"></i></a>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls max-size="5"
                                             direction-links="true"
                                             boundary-links="true">
                    </dir-pagination-controls>

                </div>
            </div>
        </div>



    </div>





</div>










